@media screen {
    
    h1, h2 {
        color: rgb(254, 72, 0) !important;
    }
    h3 {
        margin-top: 2.188rem;
    }
    b {
        color: rgb(254, 72, 0);
    }

    #tartalom {
        font-size: 1.5rem;
        font-style: italic;
        border-bottom: solid rgb(254, 72, 0) !important;
        border-width: 0.625rem;
    }
    #tartalomjegyzek, .offcanvas ,.offcanvas-body > .navbar-nav > li > .dropdown-menu,  .navbar-toggler  {
        background-color: #513128 !important;
    }

    .citation {
        border-left: solid rgb(254, 72, 0);
        border-width: 0.625rem;
        background-color: #513128;
    }

    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: #513128; 
    }
    table.table-striped{
        border-color: rgb(254, 72, 0) !important;
    }
    article a:hover {
        color: rgb(254, 72, 0);
    }
    #martin, #map, #film, #houses  {
        border-radius: 0.5rem;
        border-left: solid rgb(254, 72, 0);
        border-width: 0.5rem;
    }

    #martinf{
        border-radius: 0.5rem;
        background-color: #513128;
        font-size: 1.2rem;
        text-align: center;
        width: 20%;
        margin: 0 0 3rem 3rem;
        float: right;
    }
    #martin {
        margin-top: 1rem;
        width: 84%;
    }
    #map {
        margin: 0 3rem 3rem 0;
        float: left;
        width: 20%;
    }
    #film {
        margin: 2rem 0 3rem 3rem;
        float: right;
        width: 40%;
    }
    #houses {
        width: 45%;
        float: left;
        margin: 6rem 3rem 7rem 0;
    }
}

@media screen and (max-width: 45rem) {
    #rickf, #map, #film, #houses{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}